:root {
    --primary-color: #FFBB00;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins;
    font-size: 81.25%;
    scrollbar-color: #1414c0 #e0e0e0;
    scrollbar-width: thin;
}


.header{
    position: sticky;
    width: 100%;
    padding: 25px 0;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

#modal{
    display: none;
}

.modal-wrapper{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    --width-user-form: 350px;
    width: var(--width-user-form);
    background-color: #ffff;
    border-radius: 5px;
    z-index: 3;
}

#user__login{
    display: none;
}

#user__register{
    display: none;
}

.modal__header{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
}

.modal__heading{
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #4a4a4a;
    font-size: 1.231rem;
}

.modal__body{
    padding: 30px;
}

.modal__lable{
    display: block;
    width: 100%;
    padding: 13px 20px;
    margin-bottom: 15px;
}

.modal__input{
    font-size: 1rem;
    border: 1px solid #eaeaea;
    color: #666;
    box-shadow: none;
    line-height: 1.7;
    transition: .2s;
    border-radius: 4px;
    outline: 0;
    text-transform: none;
}

.modal__btn{
    background-color: var(--primary-color);
    border:1px solid #FFBB00 ;
    border-radius: 5px;
    padding: 11.5px 30px;
    text-transform: uppercase;
    font-size: 0.9231rem;
    font-weight: 500;
    color: #fff;
}

.modal__police{
    border-top: 1px solid #eaeaea;
    padding: 30px;
}

.modal__police-link{
    text-decoration: none;
    color: #777777;
}

.modal__police-link:hover{
    color: #FFBB00;
}

.modal__close-icon{
    width: 12px;
    height: 12px;
}

.modal__close-icon:hover{
    cursor: pointer;
}

.navbar__icon{
    display: none;
}

/*Mobile*/
@media (max-width: 35.938rem){
    .modal{
        width: 100%;
        margin: 15px;
    }
}

@media (max-width: 47.9999rem){
    .content-wrapper--column-10{
        width: 100%;
    }

    .eventchamp-service__item{
        width: 100%;
    }

    .eventchamp-service__item{
        width: 100%;
    }

    .gallery__item{
        width: 100%;
    }

    .footer__item{
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    .footer-copyright{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

/*Chance style navbar*/
@media (max-width: 75rem){
    .navbar__icon{
        width: 18px;
        height: 18px;
        display: block;
    }

    .header-navbar{
        display: none;
    }
}

/*Tablet*/
@media (min-width: 48rem) and (max-width: 61.875rem){
 
    .banner-wrapper{
        width: 100%;
    }

    .banner-content-wrapper{
        width: 100%;
    }

    .container{
        width: 100%vh;
        overflow: hidden;
    }

    .content__heading{
        padding: 0 15px;
    }

    .content__description{
        width: 100%;
        padding: 0 15px;
    }

    .footer-wrapper{
        width: 100vh;
        padding: 0 15px;
        margin: 0;
        
    }
    
    .footer__info-wrapper{
        flex-wrap: wrap;
        flex-direction: column;

    }
     
    .footer__item{
        width: 100%;
    }

    .content-wrapper--column-10{
        width: 100%;
    }

    .eventchamp-service__item{
        width: 100%;
    }

    .eventchamp-service__item{
        width: 50%;
    }

    .gallery__item{
        width: 50%;
    }

    .footer-wrapper{
        width: 100%;
        margin: 0;
    }

    .footer__item{
        width: 100%;
        display: block;
    }
}

/*PC big*/
@media (min-width: 81.25rem){
    .header{
        display: block;
    }
    .grid{
        width: 1300px;
        margin: auto;
    }

    .footer-wrapper{
        width: 1300px;
        padding: 0 15px;
        margin: auto;
    }
}