/*Rest css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --white-color: #FFF;
    --primary-color: #2056ac;
    --text-color: #6D6D6D;
}
/*Base css*/
.grid{
    width: 1200px;
    margin: auto;
}

.header-wrapper{
    background-color: var(--primary-color);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;
}

.header-logo__icon{
    color: var(--white-color);
    font-size: 32px;
    margin-bottom: 12px;
}

.header-logo__name{
    color: var(--white-color);
    font-size: 32px;
}

.header-navbar__list{
    display: flex;
    flex-direction: row;
}

.header-navbar__item{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 20px 12px 12px 12px;
    font-weight: 550;
}

.header-navbar__item:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*Banner*/
.banner-wrapper{
    background-color: white;

}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__img{
    margin-top: 32px;
}

.banner__heading{
    margin-top: 32px;
}

.banner__description{
    margin-top: 32px;
    width: 84%;
    margin-bottom: 32px;
    color: var(--text-color);
    text-align: center;
    text-justify: inter-word;
}

/*Contact*/
    
.contact-wrapper{
    width: 100%;
    background-color: rgb(277, 240, 247);
    margin-bottom: 16px;
}

.contact{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.contact-wrapper::after{
    width: 100%;
    height: 16px;
    content: "";
    position: absolute;
    z-index: 1;
    background-color: #3163B3;
}

.contact__list{
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0;
}

.contact__item{
    width: 240px;
    /* background-color: var(--primary-color); */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
}

.contact__item-wrapper{ 
    display: flex;
    height: 64px;
    justify-content: center;
}



.contact__item-icon{
    font-size: 32px;
    color: var(--text-color);
}

.contact__item-wrapper .fa-phone{
    transform: scaleX(-1);
}

.contact__item-description{
    margin-top: 32px;
    width: 100%;
    text-align: center;
    text-justify: inter-word;
    color: var(--text-color);
}
/*Footer*/


.footer-wrapper{
    width: 100%;
    background-color: var(--primary-color);
    padding: 64px 0;
}

.footer{

}
.footer__list{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.footer__list span{
    color: #8EB8DA;
}

.seperate{
    margin: 0 7px 0 6px;
    border-width: 1px;
    border-left: solid #8EB8DA;
}

.footer__list a{
    text-decoration: none;
    color: #FDFEFE;
}

.footer__social-list{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}


.footer__social-item-wrapper{
    position: relative;
    display: block;
    margin: 0 8px;
}


.footer__social-item-wrapper::after{
    position: absolute;
    left: 2%;
    right: 2%;
    top: 10%;
    bottom: 15%;
    border-radius: 8px;
    content: "";
    background-color: white;
}

.footer__social-item-icon{
    font-size: 24px;
    color: #4C93B9;
    position: relative;
    z-index: 99;
}
